/* Cambiar el color cuando el mouse está sobre el elemento */
.custom-hover:hover {
  background-color: #9ED5C5;
  color: black; 
}
/* Cambiar el color cuando se hace clic en el elemento */
.custom-hover:active {
  background-color: #8EC3B0;
  color: black; 
}
.custom-hover{
  background-color: #BCEAD5;
  border-color: #8EC3B0;
  color: black;
}