{% extends "base.html" %}

{% block styles %}
    {{ super() }}        
{% endblock %}

{% block content %}

<div class="custom-color container col-xl-10 col-xxl-8 px-4 py-5 my-5 rounded-4">
    <div class="row align-items-center g-lg-5 py-5">
      <!--Left div-->
      <div class="col-lg-5 d-flex justify-content-center text-lg-start">
        <svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" fill="#8EC3B0" class="bi bi-square-fill" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"/>
          </svg>
      </div>
      <!--Right div-->
      <div class="col-md-10 mx-auto col-lg-5">
        <h2 class="display-5 fw-bold lh-1 text-body-emphasis mb-3">Introduce los datos</h2>
        <form action="{{ url_for('cuadrado_calcular') }}" method="POST">
          <div class="mb-1">
            <label for="recipient-name" class="col-form-label">Lado</label>
            <input name="lado" type="number" class="form-control" required min="0">
          </div>
          <div class="modal-footer mt-3">
            <button type="submit" name="accion" value="calcular_area" class="btn btn-lg custom-color-button">Calcular área</button>
            <button type="submit" name="accion" value="calcular_perimetro" class="btn btn-lg custom-color-button">Calcular perímetro</button>
          </div>
        </form>        
      </div>
    </div>
</div>

{% if resultado %}<!-- Modal, this is going to show only if you only send data through render_template-->
  <div class="modal fade" id="resultadoModal" tabindex="-1" aria-labelledby="resultadoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-color">
            <div class="modal-header">
                <h5 class="modal-title" id="resultadoModalLabel">El resultado del {{resultado[0]}} es</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Campo de entrada para mostrar el resultado -->
                <div class="input-group">
                    <input type="text" id="resultadoInput" class="form-control" value="{{ resultado[1] }}" readonly>
                    <button class="btn btn-outline-secondary" type="button" id="copyButton">
                        <i class="bi bi-clipboard"></i> Copiar
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn custom-color-button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
  </div>
{% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/scripts.js"></script>
{% endblock %}
